<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidencija Studenata</title>
</head>
<body>
    <h2>Postovani {{ ime }} {{ prezime }},</h2>
    <p>
        Za vas je kreiran nalog na sajtu
        <a href="http://localhost:8000/accounts/login">Evidencija studenata</a>
    </p>
    <p>Vasa lozinka je: <code style="font-size: 18px;">{{ lozinka }}</code></p>
</body>
</html>