{% extends 'base.html' %}
    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Studentska evidencija</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'studenti' %}">Studenti <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'predmeti' %}">Predmeti</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'korisnici' %}" tabindex="-1" aria-disabled="true">Korisnici</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'logout' %}" class="btn btn-primary">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-start">

                <div class="col-lg-6 cl-xs-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="mt-4 alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags}}{% endif %}" {% endif %}>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="korisnik_novi" method="POST" name="forma">
                        {% csrf_token %}
                        <legend class="mt-5 mb-5">Novi korisnik</legend>
                        <div class="form-group">
                            <label for="ime">Ime</label>
                            <input type="text" id="korisnik_ime" class="form-control" name="ime" required>
                        </div>
                        <div class="form-group">
                            <label for="prezime">Prezime</label>
                            <input type="text" id="korisnik_prezime" class="form-control" name="prezime" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="korisnik_email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="rola">Rola</label>
                            <select id="rola" name="rola" class="form-control">
                                <option selected disabled>--Izaberite rolu--</option>
                                <option value="administrator">Administrator</option>
                                <option value="profesor">Profesor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="lozinka">Lozinka</label>
                            <input type="password" id="korisnik_password" class="form-control" name="lozinka" required>
                        </div>
                        <input type="submit" class="btn btn-primary" role="button" value="Sacuvaj">
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}