{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container">
            <div class="row justify-content-start my-5">
                <img src="{% static 'img/logo_vts.png' %}" alt="">
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-6 cl-xs-12">
                    <h4>Uspesno ste podesili novu lozinku!</h4>
                    <div>
                        <p>
                            Vasa nova lozinka je podesena. Mozete se ulogovati sada.
                        </p>
                    </div>
                    <hr>
                    <a href="{% url 'login' %}">Uloguj se</a>
                </div>
            </div>
        </div>
{% endblock %}
