{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container">
            <div class="row justify-content-start my-5">
                <img src="{% static 'img/logo_vts.png' %}" alt="">
            </div>
            <div class="row justify-content-start">
                <div class="col-lg-6 cl-xs-12">
                    <h4>Link za resetovanje vase lozinke je poslat</h4>
                    <div>
                        <p>
                            Poslali smo vam uputstva za podesavanje vase nove lozinke na vas mail, ukoliko postoji nalog za uneti email adresu.
                        </p>
                        <p>
                            Ukoliko niste dobili nasu poruku, proverite da li ste uneli odgovarajucu email adresu, takodje proverite vas spam folder.
                        </p>
                    </div>
                    <hr>
                    <a href="{% url 'login' %}">Ulogujte se</a>
                </div>
            </div>
        </div>
{% endblock %}
