{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container">
            <div class="row justify-content-center my-5">
                <img src="{% static 'img/logo_vts.png' %}" alt="">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 cl-xs-12">
                    <form method="POST">
                        <legend class="mt-5 mb-5">Zaboravljena lozinka</legend>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>
                        <input type="submit" class="form-control btn btn-primary" name="Send email">
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
