{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="container">
            <div class="row justify-content-center my-5">
                <img src="{% static 'img/logo_vts.png' %}" alt="">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 cl-xs-12">
                    <form method="POST" class="d-flex flex-column">
                        <legend class="mt-5 mb-5">Unesite vasu novu lozinku</legend>
                        {% csrf_token %}
                            {{ form }}
                        <input type="submit" class="form-control btn btn-primary mt-3" name="Update Password">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
