{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Studentska evidencija</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if rola == 'administrator' or rola == 'profesor'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'studenti' %}">Studenti <span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    {% if rola == 'administrator' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'predmeti' %}">Predmeti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'korisnici' %}" tabindex="-1" aria-disabled="true">Korisnici</a>
                    </li>
                    {% endif %}  
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'logout' %}" class="btn btn-primary">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </form>
            </div>
        </nav>
            <div class="container">
                <div class="row">
                    <div class="col-6 mt-5">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Ime</th>
                                    <td>{{ student.ime }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ime roditelja</th>
                                    <td>{{ student.ime_roditelja }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prezime</th>
                                    <td>{{ student.prezime }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Broj indeksa</th>
                                    <td>{{ student.broj_indeksa }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Broj telefona</th>
                                    <td>{{ student.broj_telefona }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ student.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Datum rodjenja</th>
                                    <td>{{ student.datum_rodjenja }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">JMBG</th>
                                    <td>{{ student.jmbg }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ukupno ESPB</th>
                                    <td>{{ student.espb}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prosek ocena</th>
                                    <td>{{ student.prosek_ocena }}</td>
                                </tr>
                                {% if rola != 'profesor' %}
                                <tr>
                                    <th scope="row">Akcije</th>
                                    <td class="">
                                        {% if rola == 'administrator' %}
                                        <a href="{% url 'student_izmena' student.id %}" role="button" class="text-warning mx-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="icon-btn red mx-1 delete_btn" data-toggle="modal" data-target=#deleteStudent{{ student.id }}>
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        {% endif %}
                                        {% if rola == 'student' or rola == 'administrator' %}
                                        <a href="{% url 'reset_password' %}" role="button" class="text-secondary mx-1">
                                            <i class="fas fa-key"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                <!-- SLIKA -->
                                <tr>
                                    <td colspan="2" align="center">
                                        <img 
                                        {% if student.slika == "" %}
                                            src="{% static 'img/placeholder.png' %}"
                                        {% else %}
                                            src="{{ student.slika.url }}"
                                        {% endif %} 
                                        id="slika_pregled"
                                        alt="student" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Modal za brisanje -->
                        <div class="modal fade" id="deleteStudent{{ student.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                
                                <div class="modal-body">
                                    Da li ste sigurni da zelite da obrisete studenta {{ student.ime }} {{ student.prezime }}?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                <form action="{% url 'student_brisanje' student.id %}" method="POST">
                                    {% csrf_token %}
                                    <button role="button" class="btn btn-danger">Obrisi</button  >
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% if rola != 'student' %}
                    <div class="col-6 mt-5">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mt-4 alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags}}{% endif %}" {% endif %}>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{% url 'ocena_nova' student.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="predmet_id">Predmet</label>
                                <select name="predmet_id" id="predmet" class="custom-select">
                                    <option value="">Odaberi predmet</option>
                                    {% for predmet in predmeti %}
                                    <option value={{ predmet.id }}>{{ predmet.naziv }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Ocena</label>
                                <input type="text" id="ocena" name="ocena" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Datum</label>
                                <input type="date" id="datum" name="datum" class="form-control" required>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <input type="submit" class="btn btn-primary" role="button" value="Dodaj ocenu">
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

            </div>

            <div class="container">
                <div class="row my-5 justify-content-end">
                    <a href="{% url 'export' tip='student' id=student.id %}" role="button" class="btn btn-success ml-3 mr-3">Export</a>
                </div>
                <div class="row">
                    <table class="table">
                        <form action="{% url 'student' student.id %}" method="GET">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="input-group input-group-sm">
                                            <input value="{{ request.GET.sifra }}" name="sifra" placeholder="Sifra" type="text" class="form-control">
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="input-group input-group-sm">
                                            <input value="{{ request.GET.naziv }}" name="naziv" placeholder="naziv" type="text" class="form-control">
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="input-group input-group-sm">
                                            <select name="godina_studija" class="form-control">
                                                <option value="">Godina studija</option>
                                                <option {% if request.GET.godina_studija == '1' %}selected{% endif %} value="1">1</option>
                                                <option {% if request.GET.godina_studija == '2' %}selected{% endif %} value="2">2</option>
                                                <option {% if request.GET.godina_studija == '3' %}selected{% endif %} value="3">3</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="inline">
                                            <div class="input-group input-group-sm mr-3">
                                                <input value="{{ request.GET.ocena_od }}" name="ocena_od" placeholder="ocena od" type="text" class="form-control">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <input value="{{ request.GET.ocena_do }}" name="ocena_do" placeholder="ocena do" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" colspan="2">
                                        <div class="inline-btns">
                                            <button type="submit" class="btn btn-primary btn-sm mr-3">Pretrazi</button>
                                            <a role="button" class="btn btn-secondary btn-sm" href="{% url 'student' student.id %}">Ponisti</a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        <label for="order_by_sifra" class="header-btn">
                                            Sifra
                                        </label>
                                        {% if order_type == 'asc' and request.GET.order_by == 'sifra' %}
                                            <i class="fas fa-sort-up"></i>
                                            {% elif order_type == 'desc' and request.GET.order_by == 'sifra' %}
                                                <i class="fas fa-sort-down"></i>
                                                {% else %}
                                                    <i class="fas fa-sort light-icon"></i>
                                        {% endif %}
                                        <input style="display: none;" id="order_by_sifra" value="sifra" class="header-btn" type="submit" name="order_by"/>
                                    </th>
                                    <th scope="col">
                                        <label for="order_by_naziv" class="header-btn">
                                            Naziv
                                        </label>
                                        {% if order_type == 'asc' and request.GET.order_by == 'naziv' %}
                                            <i class="fas fa-sort-up"></i>
                                            {% elif order_type == 'desc' and request.GET.order_by == 'naziv' %}
                                                <i class="fas fa-sort-down"></i>
                                                {% else %}
                                                    <i class="fas fa-sort light-icon"></i>
                                        {% endif %}
                                        <input style="display: none;" id="order_by_naziv" value="naziv" class="header-btn" type="submit" name="order_by"/>
                                    </th>
                                    <th scope="col">
                                        <label for="order_by_godina_studija" class="header-btn">
                                            Godina studija
                                        </label>
                                        {% if order_type == 'asc' and request.GET.order_by == 'godina_studija' %}
                                            <i class="fas fa-sort-up"></i>
                                            {% elif order_type == 'desc' and request.GET.order_by == 'godina_studija' %}
                                                <i class="fas fa-sort-down"></i>
                                                {% else %}
                                                    <i class="fas fa-sort light-icon"></i>
                                        {% endif %}
                                        <input style="display: none;" id="order_by_godina_studija" value="godina_studija" class="header-btn" type="submit" name="order_by"/>
                                    </th>
                                    <th scope="col">
                                        <label for="order_by_espb" class="header-btn">
                                            ESPB
                                        </label>
                                        {% if order_type == 'asc' and request.GET.order_by == 'espb' %}
                                            <i class="fas fa-sort-up"></i>
                                            {% elif order_type == 'desc' and request.GET.order_by == 'espb' %}
                                                <i class="fas fa-sort-down"></i>
                                                {% else %}
                                                    <i class="fas fa-sort light-icon"></i>
                                        {% endif %}
                                        <input style="display: none;" id="order_by_espb" value="espb" class="header-btn" type="submit" name="order_by" />
                                    </th>
                                    <th scope="col">
                                        <label for="order_by_ocena" class="header-btn">
                                            Ocena
                                        </label>
                                        {% if order_type == 'asc' and request.GET.order_by == 'ocena' %}
                                            <i class="fas fa-sort-up"></i>
                                            {% elif order_type == 'desc' and request.GET.order_by == 'ocena' %}
                                                <i class="fas fa-sort-down"></i>
                                                {% else %}
                                                    <i class="fas fa-sort light-icon"></i>
                                        {% endif %}
                                        <input style="display: none;" id="order_by_ocena" value="ocena" class="header-btn"  type="submit" name="order_by" />
                                    </th>
                                    {% if rola == 'administrator'%}
                                    <th scope="col">
                                        <label>
                                            Akcije
                                        </label>
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <input name="prethodni_order_by" value="{{ request.GET.order_by }}" hidden />
                            <input name="order_type" value="{{ order_type }}" hidden />
                            <input name="page" value="{{ s_procene.number }}" hidden />
                        </form>
                        <tbody>
                            {% for procena in s_procene %}
                            <tr>
                                <td>{{ procena.sifra }}</td>
                                <td>{{ procena.naziv }}</td>
                                <td>{{ procena.godina_studija }}</td>
                                <td>{{ procena.espb }}</td>
                                <td>{{ procena.ocena }}</td>
                                {% if rola == 'administrator' %}
                                <td class="row" style="margin: 0;">
                                    <a href="{% url 'predmet_izmena' id=procena.predmet_id %}" role="button" class=" text-warning mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="icon-btn red mx-1 delete_btn" data-toggle="modal" data-target=#deleteOcena{{ procena.id }}>
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                                {% endif %}
                            </tr>
                            <!-- Modal za brisanje ocene -->
                            <div class="modal fade" id="deleteOcena{{ procena.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    
                                    <div class="modal-body">
                                        Da li ste sigurni da zelite da obrisete ocenu {{ procena.ocena }} iz predmeta {{ procena.naziv }}?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                    <form action="{% url 'predmet_brisanje' id=procena.predmet_id %}" method="POST">
                                        {% csrf_token %}
                                        <button role="button" class="btn btn-danger">Obrisi</button  >
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination justify-content-center mt-3">
                        <li class="page-item {% if not s_procene.has_previous %} disabled {% endif %}">
                            <a class="page-link"
                            {% if s_procene.has_previous %}
                                {% if 'order_by' not in args %}
                                    href="?page={{ s_procene.previous_page_number }}"
                                {% else %}
                                    href="?page={{ s_procene.previous_page_number }}&prethodni_order_by={{ prethodni_order_by }}&order_type={{ args.order_type }}&order_by={{ args.order_by }}&sifra={{ args.sifra}}&naziv={{ args.naziv}}&godina_studija={{ args.godina_studija}}&ocena_od={{ args.ocena_od }}&ocena_do={{ args.ocena_do}}"
                                {% endif %}
                            {% endif %}>Prethodna</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="">
                                {{ s_procene.number }}
                            </a>
                        </li>
                        <li class="page-item {% if not s_procene.has_next %} disabled {% endif %}">
                            <a class="page-link"
                            {% if s_procene.has_next %}
                                {% if 'order_by' not in args %}
                                    href="?page={{ s_procene.next_page_number }}"
                                {% else %}
                                    href="?page={{ s_procene.next_page_number }}&prethodni_order_by={{ args.prethodni_order_by }}&order_type={{ args.order_type }}&order_by={{ args.order_by }}&sifra={{ args.sifra}}&naziv={{ args.naziv}}&godina_studija={{ args.godina_studija}}&ocena_od={{ args.ocena_od }}&ocena_do={{ args.ocena_do}}"
                                {% endif %}
                            {% endif %}>Sledeca</a>
                        </li>
                    </ul>
                </nav>
            </div>
    {% endblock %}





